.custom-btn {
  box-sizing: border-box;
  /* Main/Secondary */
  border: 1px solid rgb(112, 192, 91);
  border-radius: 4px;
  /* Desc/Text/XS */
  color: rgb(112, 192, 91);
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 10px 20px;
  transition: 1s;

  &:hover {
    background-color: rgb(112, 192, 91);
    color: #fff;
  }
}
