.category {
  .category-wrapper {
    margin-top: 100px;

    h2 {
      //styleName: Desc/Header/XL;
      font-family: Rubik;
      font-size: 64px;
      font-weight: 700;
      line-height: 96px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    .category-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      .card {
        display: block;
        width: 100%;
        object-fit: cover;
        position: relative;

        a {
          position: absolute;

          //styleName: Desc/Text-Bold/M;
          font-family: Rubik;
          font-size: 18px;
          font-weight: 700;
          line-height: 27px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #fff;
          text-decoration: none;
          position: absolute;
          background: linear-gradient(
            180deg,
            rgba(112, 192, 91, 0),
            rgb(112, 192, 91) 82.813%
          );
          bottom: 10px;
          left: 0;
          right: 0;
          color: white;
          font-weight: bold;
          padding: 100px 0;
          text-transform: uppercase;
          transition: 1s;
          &:hover {
            background: linear-gradient(
              180deg,
              rgba(255, 102, 51, 0),
              rgb(255, 102, 51) 100%
            );
          }
        }
        img {
          z-index: -999;
          width: 100%;
        }
      }
    }
  }
}
