.all-products {
  margin-top: 100px;
  h2 {
    /* Desc/Header/M */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      padding: 10px 20px;
      box-sizing: border-box;
      border: 1px solid rgb(112, 192, 91);
      border-radius: 4px;
      background: rgb(255, 255, 255);
      color: rgb(143, 143, 143);
      font-family: Rubik;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
    li {
      list-style: none;
      button {
        width: 30px;
        height: 30px;
        background-color: rgb(112, 192, 91);
        color: #fff;
        border: none;
        border-radius: 50%;
      }
      .active {
        background-color: #fff;
        color: rgb(112, 192, 91);
      }
    }
  }

  .all-products-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .all-products {
    margin-top: 50px;
    h2 {
      /* Desc/Header/M */
      color: rgb(65, 65, 65);
      font-family: Rubik;
      font-size: 26px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: left;
    }
    .product-header {
      flex-direction: column;
      margin-top: 100px;
    }
    .all-products-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
      margin-top: 50px;
    }
  }
}

@media screen and ((min-width: 768px) and (max-width:1200px)) {
  .all-products {
    margin-top: 100px;
    h2 {
      /* Desc/Header/M */
      color: rgb(65, 65, 65);
      font-family: Rubik;
      font-size: 36px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;
    }

    .all-products-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      margin-top: 50px;
    }
  }
}
